<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.privilege.mapper.ApplicationMapper">

    <insert id="insertApplicationPrivilege">
        insert into tb_application_privilege(service_id, target_id) 
        <foreach collection="idList" open="VALUES" separator="," item="id">
            (#{serviceId},#{id})
        </foreach>
    </insert>
    
    <select id="queryTargetIdList" resultType="Long">
        select target_id from tb_application_privilege where service_id =#{serviceId}
    </select>
</mapper>